* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.clearfix::after {
    content: " ";
    display: block;
    clear: both;
}

.box {
    width: 100%;
    font-size: 12px;
}

/* 箭头标志 */
.L_T {
    position: absolute;

    .LessThan {
        color: #999;
    }

    .LessThan1 {
        display: none;
    }
}

/* 个人中心点开的密码页面 */
.cipher {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, 0.75);
    z-index: 20;
    justify-content: center;
    align-items: center;
    display: none;

    .EnterPassword {
        width: 244px;
        margin-top: center;
        text-align: center;
        position: absolute;
        top: 63px;
        left: 22px;
    }

    .poss {
        width: 311px;
        height: 192px;
        background-color: white;
        position: relative;

        img {
            width: 100%;
            height: 100%;
        }
    }

    b {
        position: absolute;
        position: absolute;
        float: right;
        right: 7px;
    }

    b:hover {
        color: red;
        transition: color .7s ease;
        cursor: pointer;
    }
}

/* 导航栏 */
.NavigationBar {
    border-bottom: 1px solid #ddd;
    background-color: #e3e4e5;
    width: 100%;
    position: fixed;
    z-index:1;

    /* transform-style: preserve-3d; */
    .NavigationBar-center {
        width: 1260px;
        margin: 0 auto;
        height: 30px;
        line-height: 30px;
        color: #999;
    }

    .NavigationBar-left {
        height: 30px;
        float: left;
    }

    .NavigationBar-left li {
        float: left;
        margin-left: 15px;
    }

    .NavigationBar-right {
        float: right;
        height: 30px;
    }

    .NavigationBar-right li {
        float: left;
        margin-left: 5px;
        margin-right: 10px;
    }
}

.NavigationBar li a {
    color: #999;
}

.NavigationBar a:hover,
.NavigationBar li:hover .dd {
    color: red;
    cursor: pointer;
}

.NavigationBar .spacer {
    overflow: hidden;
    margin: 11px 5px 0;
    width: 1px;
    height: 10px;
    background-color: #b4b0b0;
}

/* 轮播图 */
.BroadcastMap {
    height: 400px;
    padding-top: 50px;

    .BroadcastMap-b-m {
        width: 1260px;
        height: 400px;
        margin: 0 auto;
    }

    .BroadcastMap-auto::-webkit-scrollbar{
        width: 5px;
    }
    .BroadcastMap-auto::-webkit-scrollbar-track{
        background-color: #777;
    }
    .BroadcastMap-auto::-webkit-scrollbar-thumb{
        background-color: #333;
    }
    /* 轮播图左边的 */
    .BroadcastMap-left {
        background-color: white;
        float: left;
        width: 180px;
        margin-right: 10px;
        height: 400px;
        overflow: auto;
    }

    /* 设置整个轮播图布局 */
    .BroadcastMap-center {
        height: 400px;
        width: 660px;
        float: left;
        margin-right: 10px;

        /* 轮郭图 */
        .tupian {
            height: 400px;
            width: 660px;
            z-index: 3;
            position: relative;
        }

        .c_center {
            position: absolute;
            height: 400px;
            width: 660px;
            left: 50%;
            transform: translateX(-50%);
        }

        .c_center img {
            height: 400px;
            width: 660px;
        }

        .c_center ul li {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transition: 1s;
        }

        .c_center ul li:first-child {
            opacity: 1;
        }

        .c_center span {
            width: 20px;
            height: 40px;
            font-size: 25px;
            line-height: 40px;
            display: block;
            position: absolute;
            color: black;
            background-color: #ccc;
            opacity: .5;
            text-align: center;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            display: none;
        }

        .c_center .right {
            right: 0;
        }

        .c_center .left {
            left: 0;
        }

        .c_center ol {
            position: absolute;
            left: 50%;
            z-index: 999;
            transform: translateX(-50%);
            bottom: 5px;
        }

        .c_center .current {
            float: left;
            display: block;
            width: 25px;
            height: 5px;
            background-color: rgb(41, 39, 39);
            margin-right: 10px;
            opacity: 0.5;
        }

        .c_center .white {
            background-color: #fff;
        }
    }

    /* 轮播图右边的 */
    .BroadcastMap-right {
        background-color: white;
        width: 400px;
        height: 400px;
        float: right;
        overflow: auto;
    }
}


/* 导航栏的图片 */
.picture-picture {
    position: relative;
    display: none;

    .picture {
        position: absolute;
        left: 199px;
        width: 1260px;
        z-index: 10;
        background-color: white;

        .photograph {
            width: 1260px;

            .ph_top {
                font-size: 20.0003px;
                color: black;
                display: flex;
                height: 65.0003px;
                justify-content: space-around;

                div {
                    position: relative;
                    top: 9.9997px;
                    width: 80.0003px;
                    line-height: 39.9998px;
                    text-align: center;
                    height: 39.9998px;
                    border: 2.0002px solid red;
                }

                div:hover {
                    background-color: red;
                    color: white;
                }
            }
        }

        .ph_bottom {
            width: 1260px;
            height: 650px;
            overflow-x: auto;

            .p_b {
                /* 设置列数 */
                column-count: 6;
                /* 设置列间距 */
                column-gap: 10px;
                padding: 10px;

                .item {
                    margin-bottom: 5px;
                    break-inside: avoid;

                    /* 防止元素在列中断开 */
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

        /* 导航栏 */
        .ph_bottom::-webkit-scrollbar {
            width: 3px;
        }

        .ph_bottom::-webkit-scrollbar-track {
            background: #0b0b0b3f;
        }

        .ph_bottom::-webkit-scrollbar-thumb {
            background: red;
        }

        .ph_bottom::-webkit-scrollbar-thumb:hover {
            background: #eb0909;
        }
    }
}
