/* 自己的特效里的hover */
/* 自己写的特效 */
.SpecialEffects {
    position: relative;
}

.SpecialEffects:hover .SpecialEffects-div {
    display: block;
}

.SpecialEffects-div {
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, .1);
    height: 200px;
    width: 200px;
    display: none;

    .dt {
        display: flex;
        flex-wrap: wrap;
        a{
            margin-left: 5px;
            margin-right: 5px;
            text-align: center;
            color: #666;
        }
    }
}

.dt:hover {
    color: red;
}

.NavigationBar-left li:hover .LessThan2 {
    display: none;
}

.NavigationBar-left li:hover .LessThan1 {
    display: block;
}

/* 箭头符号 */
.L_T {
    .LessThan:hover {
        color: #999;
    }
}